$blue: #1b3a60
$green: green
$orange: orange

body
  // width: 100%
  // height: 100%
  margin: 0
  // overflow: hidden
  background-color: $blue
  color: white
  padding: 30px
  font-family: Helvetica, Arial

.player-template, .name-form
  display: none

.player
  padding: 10px
  overflow: hidden
  position: relative
  &.me
    border: 1px solid white
  .name
    font-size: 1.2em
    font-weight: bold
    line-height: 2em
    display: inline-block
  .state
    display: inline-block
    font-size: 0.8em
    color: $blue
    background-color: white
    border-radius: 3px
    padding: 3px 6px
    vertical-align: text-bottom
    margin-left: 10px
    &.ready
      background-color: $green
      color: white
    &.preparing
      background-color: $orange
  .ships
    margin-top: 20px
    .template
      display: none
    .ship
      padding: 10px
      float: left
      border: 1px solid white
      margin: 5px
      width: 100px
      height: 150px

.menu
  a
    color: white
    text-decoration: none
    padding-right: 15px

.next-step
  display: none

.debug
  padding: 5px
  border: 1px solid white
  width: 100%
  overflow: hidden
  margin-bottom: 20px
  a
    background-color: white
    color: #1b3a60
    display: block
    float: left
    width: 100px
    padding: 20px
    text-decoration: none
    text-align: center
    border-right: 1px solid white
    text-transform: uppercase
